<div class="container">
	
<%= semantic_form_for @product do |f| %>
	<%= f.label :title%>
	<%= f.input :title, :input_html => { :class => 'form-control'} %>
	<%= f.label :description%>
	<%= f.input :description, :input_html => { :class => 'form-control'} %>
	<%= f.label :price%>
	<%= f.input :price, min: 0.01, :input_html => { :class => 'form-control'} %>
	<%= f.label :published%>
	<%= f.input :published, :input_html => { :class => 'checkbox'} %>
	<%= f.label :category%>
	<%= f.input :category, :input_html => { :class => 'form-control'} %>
	<%= f.label :level%>
	<%= f.input :level, :input_html => { :class => 'form-control'} %>	
	<%= f.label :country%>
	<%= f.input :country, as: :select, :input_html => { :class => 'form-control'} %>	
	<%= f.action :submit, :input_html => { :class => 'btn btn-default'} %>
<% end %>

</div>